<div id="milestones"> 
	<div class="toolbar"> 
		<h1>Kenji!!</h1> 
		<a class="button back" href="#">Back</a>
		<a class="button add slideup" href="#createEntry">+</a> 
	</div>
	<div> 
		<ul class="edgetoedge"> 
			<li class="arrow"><a id="0" href="#milestone">Birth Day<span class="right-line">5/7/2011</span></a></li> 
			<li class="arrow"><a id="1" href="#milestone">First Roll Over<span class="right-line">6/7/2011</span></a></li> 
			<li class="arrow"><a id="2" href="#milestone">First Crawl<span class="right-line">9/7/2011</span></a></li> 
			<li class="arrow"><a id="3" href="#milestone">First Words<span class="right-line">12/20/2011</span></a></li> 
			<li class="arrow"><a id="4" href="#milestone">First Steps<span class="right-line">3/22/2010</span></a></li> 
		</ul> 
	</div> 
</div>

<!--
<% @milestones.each do |milestone| %>
  <tr>
    <td><%= milestone.name %></td>
    <td><%= milestone.description %></td>
    <td><%= milestone.file_link %></td>
    <td><%= milestone.posts_to_facebook %></td>
    <td><%= milestone.posts_to_twitter %></td>
    <td><%= link_to 'Show', milestone %></td>
    <td><%= link_to 'Edit', edit_milestone_path(milestone) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Milestone', new_milestone_path %>
-->
