<div data-role="page">
	<div data-role="header"> 
		<h1>All Milestones</h1> 
		<%= link_to "Home", home_path, "data-direction" => "reverse" %>
		<%= link_to "+", new_milestone_path, "data-transition" => "slideup" %>
	</div>
	<div data-role="content"> 
		<ul data-role="listview">
			<% currentChildId = -1 %>
			<% @milestones.each do |milestone| %> 
				<% if milestone.child_id != currentChildId 
					currentChildId = milestone.child_id 
					if (milestone.child)
						%>
						<li role="list-divider"><%= milestone.child.first_name %></li>
					<% end %>
				<% end %>
				<li>
					<%= link_to(milestone) do %>
						<%= milestone.name %><small><%= milestone.milestone_date %></small>
					<% end %>
				</li> 
			<% end %>
		</ul> 
	</div> 
</div>