<div data-role="page"> 
	<div data-role="header"> 
		<h1><%= @first_name %><%= @milestone.name %></h1> 
		<%= link_to "List", milestones_path, "data-direction" => "reverse" %>
		<%= link_to "Edit", edit_milestone_path(@milestone), "data-transition" => "slideup" %>
	</div> 
	<div data-role="content">
		<div id="notice"><%= notice %></div>
		<ul data-role="listview"> 
			<li>
				<p><% if @milestone.milestone_date %>On <%= @milestone.milestone_date %> <% end %><%= @milestone.description %></p>
			</li> 
			<li><%= image_tag @milestone.file_link if @milestone.file_link %></li> 
		</ul> 
	</div> 
</div>
