<div data-role="page"> 
	<div data-role="header"> 
		<h1><%= @child.first_name %></h1> 
		<%= link_to "List", children_path, "data-direction" => "reverse" %>
		<%= link_to "Edit", edit_child_path(@child), "data-transition" => "slideup" %>
	</div> 
	<div data-role="content"> 
		<div id="notice"><%= notice %></div>
		<ul daat-role="listview"> 
			<li><%= @child.first_name %> <%= @child.middle_name %> <%= @child.last_name %></li> 
		</ul> 
	</div> 
</div>
