<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @child.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%= @child.middle_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @child.last_name %>
</p>


<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
